:root {
    --dark-background-color: #2F2E2E;
    --button-blue-color: #2FCBFC;
    --footer-gray-color: #E8E8E8;
  }

#splash {
    margin: 0;
    background: url(../assets/img/gpc_hero_image@2x.png) no-repeat bottom center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#splash #login {
    position: relative;
    display: block;
    float: right;
    text-align: end;
    padding-top: 32px;
    padding-right: 80px;
    position: relative;
}

#hero {
    display: flex;
    text-align: center;
    position: absolute;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;

}

#who-we-are {
    margin: 100px;
    display: grid;
    grid-gap: 160px;
    grid-template-columns:  auto 50%;
}

#heading {
    justify-self: end;
  }

#who-we-are h2 {
    color: var(--button-blue-color);
}

#our-apps {
    background-color: var(--dark-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
}

#our-apps h2 {
    margin: 0;
}

#apps {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#app {
    padding-top: 64px;
    padding-right: 40.5px;
    padding-left: 40.5px;
}

#app {
    text-decoration: none;
}

#newsletter {
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 88px;
    margin-bottom: 90px;
}

#newsletter h2 {
    margin: 0;
    color: var(--button-blue-color);
    text-align: center;
}

#news-box {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

#news-box input {
    padding: 20px;
    font-size: 16px;
    border: 1px solid lightgray;
    max-height: 49px;
    min-width: 276px;
}

#news-box button {
    background-color: var(--dark-background-color);
    min-width: 165px;
    cursor: pointer;
}

#footer {
    background-color: var(--footer-gray-color);
    margin: 0;
    bottom: 0;
    color: black;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 29px;
}