#splash {
    background: url(../assets/img/gpc_hero_image@2x.png) no-repeat bottom center;
    background-size: cover;
    min-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#splash #login {
    display: block;
    float: right;
    text-align: end;
    padding-top: 32px;
    padding-right: 80px;

}

#hero {
    display: flex;
    text-align: center;
    height: line-height;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}